.App {
  text-align: center;
  background-color: #282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  & .history {
    &-list {
      height: 255px;
      overflow-y: scroll;
      background-color: #FFFFFF;

      &-item {
        overflow-wrap: break-word;

        &.active {
          background-color: #4F5B66;
          border-color: #4F5B66;
        }
      }
    }
  }
}
